
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    background-color: #1d1d1d;
}

.home_page {
    margin-left: auto;
    margin-top: 24px;
    margin-right: auto;
    background-color: rgb(32, 32, 32);
    width: 1000px;
    border-radius: 15px;
    padding-bottom: 40px;
    margin-bottom: 24px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.479);
    height: 1170px;
}

.main_name{
    text-align: center;
    color: white;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.avatar {
    border-radius: 50%;
    height: 125px;
    margin-left: 50px;
}

.teg_name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    position: relative;
    top: -110px;
    margin-left: 190px;
    width: 200px;
}

.mini_desc{
    color: #868686;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    position: relative;
    top: -110px;
    margin-left: 190px;
    font-weight: normal;
}

.desc{
    color: #868686;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    position: relative;
    top: 83px;
    left:50px;
    width: 936px;
}

input {
    display: none;
}

label {
    display: block;
    width: 900px;
    height: 100px;
    background-color: #4d4d4d;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    color: #e7e7e7;
    font-size: 32px;
    text-align: center;
    line-height: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
    cursor: pointer;
}

.label_name {
    padding-top: 32px;
}

.port_label_name {
    padding-top: 48px;
}

label:hover{
    animation: anim 0.2s forwards;
    animation-timing-function: ease;
}

label:not(:hover) {
    animation: leave-anim 0.2s forwards;
    animation-timing-function: ease;
}

a {
    text-decoration: none;
}

.ico {
    position: absolute;
    margin-left: -410px;
    margin-top: 26px;
    width: 50px;
}

.tel_button{
    margin-top: 183px;
}

.vk_button {
    margin-top: 83px;
}

.dis_button {
    margin-top: 83px;
    margin-bottom: 83px;
}

.port {
    height: 1150px;
    padding-top: 50px;
    padding-bottom: 125px;
}

@keyframes anim{
    from {
        background-color: #4d4d4d;
        transform: scale(1);
    }
    to {
        background-color: #494949;
        transform: scale(1.03);
    }
}

@keyframes leave-anim{
    from {
        background-color: #494949;
        transform: scale(1.03);
    }
    to {
        background-color: #4d4d4d;
        transform: scale(1);
    }
}
video {
    height: 418px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.pic_desc {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    text-align: left;
    bottom: 80px;
    left: 150px;
    background-color: #494949;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.253);
    opacity: 0.7;
    width: 197px
}

.pic_desc_2 {
    width: 362px;
}

.label_desc {
    font-size: 18px;
    color: #bbbbbb;
}

@media (max-width: 990px) {
    .home_page {
        height: 100%;
        margin-bottom: 0;
    }
}

@media (max-width: 640px) {
    .home_page {
        height: 1450px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .avatar{
        height: 175px;
    }
    .teg_name, .mini_desc {
        margin-left: 260px;
        font-size: 25px;
        top: -140px;
    }

    .main_name {
        font-size: 28px;
    }

    .desc{
        font-size: 25px;
    }
    label {
        height: 160px;
        text-align: left;
        padding-left: 120px;
        width: 800px;
    }

    .label_name {
        padding-top: 40px;
        padding-left: 20px;
    }

    .label_desc {
        padding-left: 20px;
    }
    .port_label_name {
        padding-top: 59px;
    }

    .ico {
        margin-top: 30px;
        width: 60px;
        margin-left: -75px;
    }

    video {
        height: 480px;
    }

    .pic_desc {
        font-size: 25px;
        bottom: 97px;
        width: 274px;
        left: 100px;
    }

    .pic_desc_2 {
        width: 503px;
    }
}

@media (max-width: 375px) {
    .home_page {
        height: 1720px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .avatar{
        height: 185px;
    }
    .teg_name, .mini_desc {
        margin-left: 260px;
        font-size: 29px;
        top: -160px;
    }

    .main_name {
        font-size: 32px;
    }

    .desc{
        font-size: 29px;
    }
    label {
        height: 160px;
        text-align: left;
        padding-left: 120px;
        width: 800px;
        font-size: 36px;
    }

    .label_name {
        padding-top: 60px;
        padding-left: 35px;
    }

    .label_desc {
        padding-left: 35px;
        font-size: 22px;
    }
    .port_label_name {
        padding-top: 80px;
    }

    .ico {
        margin-top: 48px;
        width: 70px;
        margin-left: -75px;
    }

    video {
        height: 480px;
    }

    .pic_desc {
        font-size: 29px;
        bottom: 97px;
        width: 318px;
        left: 100px;
    }

    .pic_desc_2 {
        width: 583px;
    }
}
