@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    background-image: url(img/1670126248_3-61\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 15px;
    background-color: #1f1f1f;
}
    
::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}
    
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #3d3d3d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444444;
    transition: 0.1s;
}

.home_page {
    margin-left: auto;
    margin-top: 24px;
    margin-right: auto;
    background-color: rgb(32, 32, 32);
    width: 1000px;
    border-radius: 15px;
    padding-bottom: 60px;
    margin-bottom: 24px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.479);
}

.main_name{
    margin: 0;
    text-align: center;
    color: white;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.avatar {
    border-radius: 50%;
    height: 125px;
    margin-left: 50px;
    width: 125px;
}

.avatar:hover {
    animation: avatar_anim 0.3s forwards;
}

.avatar:not(:hover) {
    animation: leave_avatar_anim 0.3s forwards;
}

.teg_name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    position: relative;
    top: -110px;
    margin-left: 190px;
    width: 200px;
}

.mini_desc{
    color: #868686;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    position: relative;
    top: -110px;
    margin-left: 190px;
    font-weight: normal;
}

.desc{
    color: #868686;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    position: relative;
    top: 83px;
    margin-left: 30px;
    width: 936px;
    padding-bottom: 100px;
}

input {
    display: none;
}

.button{
    display: block;
    width: 900px;
    height: 100px;
    background-color: #4d4d4d;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    color: #e7e7e7;
    font-size: 32px;
    text-align: center;
    line-height: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
    cursor: pointer;
    margin-top: 83px;
}

a {
    text-decoration: none;
    width: max-content;
    width: max-content;
}

.portfolio_button {
    margin-top: 0px;
}

.button_name {
    position: absolute;
    top: 3px;
    width: 100%;
}

.port_button_name {
    top: 17px;
}

.button_desc {
    position: absolute;
    top: 52px;
    left: auto;
    right: auto;
    width: 100%;
    font-size: 18px;
    color: #bbbbbb;
}

.button:hover{
    animation: anim 0.2s forwards;
    animation-timing-function: ease;
}

.button:not(:hover) {
    animation: leave-anim 0.2s forwards;
    animation-timing-function: ease;
}

.ico {
    position: absolute;
    left: 50px;
    top: 27px;
}

.port {
    padding-top: 1px;
}

div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.1s;
    height: 450px;
    margin-top: 100px;
}

div:hover {
    transform: scale(1.02);
}

video {
    width: 100%;
    border-radius: 15px;
}

.pic_desc {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    text-align: left;
    background-color: #494949;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.253);
    opacity: 0.7;
    position: relative;
    bottom: 80px;
    left: 20px;
    width: 20vw;
}

@keyframes anim{
    from {
        background-color: #3d3d3d;
        transform: scale(1);
    }
    to {
        background-color: #444444;
        transform: scale(1.03);
    }
}

@keyframes avatar_anim{
    from {
        transform: scale(1);
    }
    
    to {
        transform: scale(1.05);
    }
}

@keyframes leave_avatar_anim{
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

@keyframes leave-anim{
    from {
        background-color: #444444;
        transform: scale(1.03);
    }
    to {
        background-color: #3d3d3d;
        transform: scale(1);
    }
}

@media (max-width: 990px) {
    .home_page {
        margin-bottom: 0;
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        width: 90vw;
    }
    
    .avatar {
        margin-left: 25px;
    }

    .desc {
        width: 90vw;
    }

    main {
        width: 100%;
    }

    .teg_name, .mini_desc {
        font-size: 18px;
    }

    .pic_desc {
        bottom: 14vh;
    }
}

@media (max-width: 620px) {
    .home_page {
        margin-bottom: 0;
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        width: 100%;
    }

    .avatar {
        margin-top: 35px;
    }

    .button {
        width: 90vw;
    }

    .button_name{
        position: static;
        text-align: left;
        width: 60%;
        padding-top: 49px;
        padding-left: 122px;
    }

    .button_desc {
        display: none;
    }

    .desc {
        width: 80vw;
    }

    .port_button_name {
        top: 17px;
    }

    .teg_name, .mini_desc {
        font-size: 18px;
    }

    .pic_desc {
        font-size: 13px;
        width: 50vw;
        bottom: 60px;
    }

    div {
        height: 270px;
    }
}

@media (max-width: 400px) {
    .home_page {
        margin-bottom: 0;
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        width: 100%;
    }

    .avatar {
        margin-top: 35px;
    }

    .button {
        width: 90vw;
        margin-top: 40px;
    }

    .portfolio_button {
        margin-top: -80px;
    }

    .teg_name {
        width: 20vw;
    }

    .button_name{
        position: static;
        text-align: left;
        width: 60%;
        padding-top: 49px;
        padding-left: 122px;
    }

    .button_desc {
        display: none;
    }

    .desc {
        width: 80vw;
        top: 40px;
        padding-bottom: 40px;
    }

    .port_button_name {
        top: 17px;
    }
    
    .pic_desc {
        bottom: 60px;
        font-size: 13px;
        width: 50vw;
    }

    div {
        height: 180px;
    }
}

@media (max-width: 320px) {
    .home_page {
        margin-bottom: 0;
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        width: 100%;
    }

    .avatar {
        margin-top: 35px;
    }

    .button {
        width: 90vw;
        margin-top: 40px;
    }

    .avatar {
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }

    .teg_name, .mini_desc {
        margin-left: 130px;
    }

    .portfolio_button {
        margin-top: -80px;
    }

    .teg_name {
        width: 20vw;
    }

    .button_name{
        position: static;
        text-align: left;
        width: 60%;
        padding-top: 49px;
        padding-left: 92px;
    }

    .button_desc {
        display: none;
    }

    .ico {
        left: 20px;
    }

    .desc {
        width: 80vw;
        top: 40px;
        padding-bottom: 40px;
    }

    .port_button_name {
        top: 17px;
    }
}
