
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    background-image: url(img/1670126248_3-61\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home_page {
    margin-left: auto;
    margin-top: 24px;
    margin-right: auto;
    background-color: rgb(32, 32, 32);
    width: 1000px;
    border-radius: 15px;
    padding-bottom: 60px;
    margin-bottom: 24px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.479);
}

.main_name{
    margin: 0;
    text-align: center;
    color: white;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.avatar {
    border-radius: 50%;
    height: 125px;
    margin-left: 50px;
    width: 125px;
}

.avatar:hover {
    animation: avatar_anim 0.3s forwards;
}

.avatar:not(:hover) {
    animation: leave_avatar_anim 0.3s forwards;
}

.teg_name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    position: relative;
    top: -110px;
    margin-left: 190px;
    width: 200px;
}

.mini_desc{
    color: #868686;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    position: relative;
    top: -110px;
    margin-left: 190px;
    font-weight: normal;
}

.desc{
    color: #868686;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    position: relative;
    top: 83px;
    left:50px;
    width: 936px;
    padding-bottom: 100px;
}

input {
    display: none;
}

a{
    text-decoration: none;
    display: block;
    width: 900px;
    height: 100px;
    background-color: #4d4d4d;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    color: #e7e7e7;
    font-size: 32px;
    text-align: center;
    line-height: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
    cursor: pointer;
    margin-top: 83px;
}

.portfolio_button {
    margin-top: 0px;
}

.button_name {
    padding-top: 32px;
}

.port_button_name {
    padding-top: 48px;
}

a:hover{
    animation: anim 0.2s forwards;
    animation-timing-function: ease;
}

a:not(:hover) {
    animation: leave-anim 0.2s forwards;
    animation-timing-function: ease;
}

.ico {
    position: absolute;
    margin-left: -410px;
    margin-top: 26px;
    width: 50px;
}

.port {
    padding-top: 1px;
}

@keyframes anim{
    from {
        background-color: #3d3d3d;
        transform: scale(1);
    }
    to {
        background-color: #444444;
        transform: scale(1.03);
    }
}

@keyframes avatar_anim{
    from {
        transform: scale(1);
    }
    
    to {
        transform: scale(1.05);
    }
}

@keyframes leave_avatar_anim{
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

@keyframes leave-anim{
    from {
        background-color: #444444;
        transform: scale(1.03);
    }
    to {
        background-color: #3d3d3d;
        transform: scale(1);
    }
}

video {
    height: 418px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.pic_desc {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    text-align: left;
    bottom: 80px;
    left: 150px;
    background-color: #494949;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.253);
    opacity: 0.7;
    width: 197px
}

.pic_desc_2 {
    width: 362px;
}

.button_desc {
    font-size: 18px;
    color: #bbbbbb;
}

@media (max-width: 990px) {
    .home_page {
        margin-bottom: 0;
    }

    main {
        width: 1000px;
    }
}

@media (max-width: 640px) {
    .home_page {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .avatar{
        height: 222px;
        width: 222px;
    }
    .teg_name, .mini_desc {
        margin-left: 320px;
        font-size: 26px;
        top: -160px;
    }

    .main_name {
        font-size: 30px;
    }

    .desc{
        font-size: 27px;
    }
    a {
        height: 160px;
        text-align: left;
        padding-left: 120px;
        width: 800px;
    }

    .button_name {
        padding-top: 60px;
        padding-left: 35px;
    }

    .button_desc {
        padding-left: 35px;
        font-size: 24px;
    }
    .port_button_name {
        padding-top: 80px;
    }

    .ico {
        margin-top: 48px;
        width: 70px;
        margin-left: -75px;
    }

    video {
        height: 480px;
    }

    .pic_desc {
        font-size: 27px;
        bottom: 97px;
        width: 296px;
        left: 100px;
    }

    .pic_desc_2 {
        width: 543px;
    }
}

@media (max-width: 375px) {
    .home_page {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .avatar{
        height: 222px;
        width: 222px;
    }
    .teg_name, .mini_desc {
        margin-left: 320px;
        font-size: 31px;
        top: -160px;
    }

    .main_name {
        font-size: 34px;
    }

    .desc{
        font-size: 31px;
    }
    a {
        height: 160px;
        text-align: left;
        padding-left: 120px;
        width: 800px;
        font-size: 38px;
    }

    .button_name {
        padding-top: 60px;
        padding-left: 35px;
    }

    .button_desc {
        padding-left: 35px;
        font-size: 22px;
    }
    .port_button_name {
        padding-top: 80px;
    }

    .ico {
        margin-top: 48px;
        width: 70px;
        margin-left: -75px;
    }

    video {
        height: 480px;
    }

    .pic_desc {
        font-size: 31px;
        bottom: 97px;
        width: 340px;
        left: 100px;
    }

    .pic_desc_2 {
        width: 623px;
    }
}

@media (max-width: 320px) {
    .home_page {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .avatar{
        height: 222px;
        width: 222px;
    }
    .teg_name, .mini_desc {
        margin-left: 320px;
        font-size: 31px;
        top: -160px;
    }

    .main_name {
        font-size: 34px;
    }

    .desc{
        font-size: 31px;
    }
    a {
        height: 160px;
        text-align: left;
        padding-left: 120px;
        width: 800px;
        font-size: 38px;
    }

    .button_name {
        padding-top: 60px;
        padding-left: 35px;
    }

    .button_desc {
        padding-left: 35px;
        font-size: 22px;
    }
    .port_button_name {
        padding-top: 80px;
    }

    .ico {
        margin-top: 48px;
        width: 70px;
        margin-left: -75px;
    }

    video {
        height: 480px;
    }

    .pic_desc {
        font-size: 31px;
        bottom: 97px;
        width: 340px;
        left: 100px;
    }

    .pic_desc_2 {
        width: 623px;
    }
}
